<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource ="config/db.properties"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="member" type="com.yedam.vo.MemberVO" />
		<typeAlias alias="board" type="com.yedam.vo.BoardVO" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url"    value= "${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/yedam/mapper/MemberMapper.xml" />
		<mapper resource="com/yedam/mapper/BoardMapper.xml" /> <!-- mapper을 사용하려면 무조건 config에 등록을 해주어야 한다. -->
	</mappers>
</configuration>